










.container {
  background-color: wheat;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  flex-direction: column;
  border-radius: 1rem;
}

.dices {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 3rem;
  width: 80%;
}

.dice-face {
  padding: 0.8rem;
  margin: 1rem;
  background-color: orange;
  height: 2.5rem;
  width: 2.5rem;
  justify-content: center;
  align-items: center; 
  display: flex;
  border-radius: 10px;
  font-size: 2rem;
}

.dice-face:hover {
  cursor: pointer;
}

button {
  padding: 1rem 4rem;
  font-size: 2rem;
  border-radius: 10px;
  border-style: none;

}

button:hover {
  cursor: pointer;
}

.title {
  font-size: 5rem;
  color: beige;
}